<?xml version='1.4'?>
<Events>
	<Event type='custom' id='listenerGroup'>
		<Name>Listener Group</Name>
		<ConfigUI>
			<Field id='label1' type='label' >
				<Label>Select the Variables(s) and/or Devices(s) to listen to for the Trigger:
				</Label>
			</Field>
            <Field id='separator2' type='separator'/>
			<Field id='triggerVariables' type='list' rows='12'>
				<Label>Variables:</Label>
				<List class='indigo.variables'/>
			</Field>
            <Field id='separator1' type='separator'/>
			<Field id='triggerDevices' type='list' rows='12'>
				<Label>Devices:</Label>
				<List class='indigo.devices' />
			</Field>
			<Field id='advanced' type='checkbox' defaultValue='false'>
			    <Label>Advanced:</Label>
			    <Description>Reduce trigger events by filtering device states.</Description>
			</Field>
            <Field id='loadStates' type='button' visibleBindingId='advanced'  visibleBindingValue='true' alwaysUseInDialogHeightCalc='true'>
                <Label></Label>
                <Title>Load States</Title>
                <CallbackMethod>loadStates</CallbackMethod>
            </Field>
	        <Field id='filterLogic' type='menu' visibleBindingId='advanced'  visibleBindingValue='true' alwaysUseInDialogHeightCalc='true'>
                <Label>Filter Logic:</Label>
                <List>
                    <Option value='Ignore'>Ignore All</Option>
                    <Option value='Require'>Require One</Option>
                </List>
            </Field>
			<Field id='stateFilter' type='list' rows='12' visibleBindingId='advanced'  visibleBindingValue='true' alwaysUseInDialogHeightCalc='true'>
			    <Label>State Filter:</Label>
				<List class='self' method='getStateList' dynamicReload='true'/>
			</Field>
			<Field id='stateFilterLabel' type='label' fontColor='darkgray' fontSize='small' alignWithControl='true' visibleBindingId='advanced'  visibleBindingValue='true' alwaysUseInDialogHeightCalc='true'>
                <Label>Applies to all devices.</Label>
            </Field>
			<Field id='commEnabled' type='checkbox' defaultValue='false' visibleBindingId='advanced'  visibleBindingValue='true' alwaysUseInDialogHeightCalc='true'>
			    <Label>Fire on Status:</Label>
			    <Description>Also fire trigger when device's status is enabled/disabled?   </Description>
			</Field>
            <Field id='separator3' type='separator'/>
			<Field id='saveBool' type='checkbox'>
			    <Label>Save to variable:</Label>
			    <Description>Save the last triggering device/variable to a variable?   </Description>
			</Field>
			<Field id='saveType' type='menu' defaultValue='name' visibleBindingId='saveBool'  visibleBindingValue='true' alwaysUseInDialogHeightCalc='true'>
				<Label>Save Value:</Label>
				<List>
					<Option value='name'>Device Name</Option>
					<Option value='id'>Device ID</Option>
				</List>
			</Field>
			<Field id='saveVar' type='menu' visibleBindingId='saveBool'  visibleBindingValue='true' alwaysUseInDialogHeightCalc='true'>
				<Label>Select Variable:</Label>
				<List class='indigo.variables' />
			</Field>
		</ConfigUI>
	</Event>
</Events>
